body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

.part-one {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 50px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header {
    padding: 10px;
    color: #f9faf8;
}

.header ul {
    display: flex;
    list-style: none;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    width: 500px;
    justify-content: space-between;
}

.header a {
    color: #f9faf8;
    font-size: 18px;
    text-decoration: none;
}


.heroimg {
    display: flex;
    flex-direction: row-reverse;
}

.heromain {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

.part-one img {
    width: 500px;
    height: auto;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 30px;
    font-weight: bold;
    padding: 20px 50px;
    border-radius: 15px;
    border: 5px solid #3882f6;
}

.herosecondary {
    width: 45%;
    font-size: 18px;
    color: #e5e7eb;
    margin: 30px 0px;
}

/*END PART ONE CONTAINER*/

/*BEGIN PART TWO CONTAINER*/

.part-two {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

h2 {
    font-size: 32px;
    font-weight: bolder;
    color:#1F2937;
    display: flex;
    justify-content: center;
}

.thumbnails ul {
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    gap: 20px;
}


.thumbnails img {
  border: 5px solid #3882f6;
  border-radius: 15px;
  width: 200px;
  height: 160px;
}



/* USED TAILWIND TO FIX ISSUE... MUST UNDERSTAND WHAT WAS WRONG. 
    I applied the border to the figure AND the image, so I had two borders going on.*/


/*BEGIN PART THREE CONTAINER*/


.part-three {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    color: #1F2937;
    align-items: center;
    padding: 50px;
}

.quote {
  font-size: 36px;
}

.quotesource {
  align-self: flex-end;
}


/*BEGIN PART FOUR CONTAINER*/

.part-four {
    display: flex;
}
